/* ==========================================================================
   Reset 
   ========================================================================== */
   *, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
  }

  /* ==========================================================================
   Header 
   ========================================================================== */

  .header {
    border: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-content: center;
  }

  .header h1 {
    text-align: center;
  }

  .header .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

   /* ==========================================================================
   Main 
   ========================================================================== */

   .main {
    border: 1px solid;
    overflow-y: visible;
   }
   
   .books-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
   }